{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<h2>Descubra qual a raça do seu cachorro!</h2>
<p></p>
<div class="search-container">
    <form action="/search" method="POST" enctype="multipart/form-data">
        <input type="file" name="query" class="file-input" accept="image/*">
        <button type="submit" class="search-button">Pesquisar</button>
    </form>
</div>
<div class="dog-breeds-grid">
    <div class="grid-container">
        {% for breed, image_url in dog_breeds %}
        <div class="grid-item">
            <img src="{{ image_url }}" alt="{{ breed }}">
            <p>{{ breed }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}