<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="banner">
        <h1>BEM VINDO</h1>
        <p>Explore nosso site e descubra mais!</p>
    </div>
    <div class="content">
        <h2>Descubra qual a raça do seu cachorro!</h2>
        <p></p>
        <div class="search-container">
            <form action="/search" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="query" class="search-input">
                <input type="file" name="image" class="file-input" accept="image/*" onchange="handleFileSelect(event)">
                <button type="submit" class="search-button">Pesquisar</button>
            </form>
        </div>
    </div>

    <script>
        function handleFileSelect(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.querySelector('.search-input').value = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }
    </script>
</body>

</html>