


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="banner">
    <title>Resultados da Pesquisa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Resultados da Pesquisa</h1> 
    <div>
    <img src="{{ query }}" alt="Imagem da Pesquisa" style="width: 10%; height: 10%;">
    <br>
    <br>
    <form action="/" enctype="multipart/form-data">
    <button class="search-button" href="/">Home</button>
    </form>
    </div>
    </div>
</body>
</html>